@font-face {
    font-family: 'Poppins-Regular';
    src: local('../font/Poppins-ExtraLight.ttf'), url('../font/Poppins-Regular.ttf');
}
*{
    font-family: Poppins-Regular;
}
div.dataTables_wrapper div.dataTables_filter input:focus{
    outline-offset: 0;
    -webkit-appearance: none;
    outline-width: 0;
}
.dataTables_info, .dataTables_length{
    text-transform: capitalize;
}
.dataTables_empty{
    text-transform: capitalize !important;
}
.select2-selection__choice{
    color: black !important;
}
.opacity-0{
    opacity: 0 !important;
}
.opacity-full{
    opacity: 10 !important;
}
.dataTables_length{
    width: 25%;
    float: left;
}
.dt-buttons{
    position: relative;
    width: 50%;
}
.dataTables_filter{
    width: 25%;
    float: right;
}
@media (max-width: 700px) {
    .dataTables_length{
        width: 100%;
    }
    .dt-buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }
    .dataTables_filter{
        width: 100%;
    }
}
.pvtFilterBox p button[type="button"]{
    margin: 10px 5px !important;
    border: 1px solid #5C5C5C !important;
    background-color: #5C5C5C !important;
    padding: 5px 5px !important;
    color: white !important;
}
.pvtRenderer, .pvtAggregator, .pvtRenderer:focus, .pvtAggregator:focus{
    padding: 3px !important;
    border-radius: 3px !important;
    outline-offset: 0;
    -webkit-appearance: none;
    outline-width: 0;
}
#scanner__dashboard_section{
    background-color: #007bff !important;
}
#html5-qrcode-button-camera-stop{
    border-radius: 0 !important;
    background-color: #dc3545 !important;
    border: 1px solid #dc3545 !important;
    color: #fff !important;
    height: 30px !important;
}
#html5-qrcode-button-camera-start{
    border-radius: 0 !important;
    background-color: #28a745 !important;
    border: 1px solid #28a745 !important;
    color: #fff !important;
    height: 30px !important;
}
#html5-qrcode-button-file-selection{
    border-radius: 0 !important;
    background-color: #17a2b8 !important;
    border: 1px solid #17a2b8 !important;
    color: #fff !important;
    height: 30px !important;
}
#scanner{
    height: 30em !important;
    width: 30em !important;
}
